@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300&family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@600&family=Source+Sans+Pro&display=swap');

@keyframes goDown {
    0%   {
        margin-top: 0px
    }
    50%  {
        margin-top: -20px
    }
    100% {
        margin-top: 0px
    }
}

@keyframes goUp {
    0%   {
        margin-top: 0px
    }
    50%  {
        margin-top: 20px
    }
    100% {
        margin-top: 0px
    }
}

@keyframes appear {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@keyframes hide {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

:root {
    --bs-body-font-family: 'Mukta', sans-serif;
}

.input {
    display: flex;
    position: relative;
    width: 100%;
    align-items: center;
}

.input-field {
    width: 100%;
    border-radius: 50px;
    padding: 10px 20px;
    border: none;
    transition: 0.2s;
    box-shadow: inset 0 0 5px #a1a1a6
}

.input-field:focus {
    outline: none;
}

.input-submit {
    position: absolute;
    width: 35px;
    height: 35px;
    font-size: 20px;
    margin: 12px;
    border: none;
    right: 0px;
    background-color: transparent
}

td {
    vertical-align: middle;
}

th {
    white-space: nowrap;
}

span button {
    color: white;
    font-weight: 700;
}

.td-svg, td:nth-child(1) {
    text-align: center;
}

.album-img-container {
    position: relative;
    min-height: 75px;
    min-width: 75px;
}

.album-img-container img {
    height: 75px;
    width: 75px;
}

td a svg {
    font-size: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    opacity: 0;
    color: rgb(255, 255, 255);
}

td svg {
    opacity: 0;
    font-size: 25px;
}

tr:hover img {
    opacity: 0.6;
}

tr:hover a svg {
    opacity: 1;
}

tr:hover svg {
    opacity: 1;
}

.main-container {
    margin-top: 65px;
    animation-name: appear;
    animation-duration: 1s;
}

.button-favourite {
    color: white;
    background: transparent;
    border: white solid 2px;
    border-radius: 15px;
    transition: 0.4s;
    font-size: 20px;
    padding: 5px 8px 5px 8px
}

.button-favourite:hover {
    transform: scale(1.1);
}

.active {
    background-color: rgb(77, 77, 77);
    box-shadow: 0 0 10px white;
}

.list-empty {
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 50px;
    animation-name: appear;
    animation-duration: 1s;
}

tr {
    animation-name: appear;
    animation-duration: 1s;
}

.spinner-svg {
    color: white;
}

.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    gap: 0.5em;
    font-size: 30px;
}

.down {
    animation: goDown 0.8s ease infinite;
}
  
.up {
    animation: goUp 0.8s ease infinite;
}

.act {
    animation-name: hide;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
}

th button {
    background: transparent;
    border: none;
}

th button svg {
    color: rgb(178, 178, 178);
    font-size: 18px;
    margin-left: 5px;
}

.reset-button {
    color: white;
    background: transparent;
    border: white solid 2px;
    border-radius: 12px;
}

.hidden-cell, .dropdown {
    display: none;
}

@media (max-width: 767px) {
    td svg {
        opacity: 1;
    }
    thead span, td:nth-child(4), td:nth-child(5), td:nth-child(6), td:nth-child(8){
        display: none;
    }
    th:nth-child(5), th:nth-child(6), th:nth-child(7) {
        display: none;
    }
    th:nth-child(3) {
        display: flex;
        align-items: center;
        justify-content: start;
    }
    .hidden-cell {
        display: flex;
        flex-direction: row;
        min-height: 117.5px;
    }
    .album-img-container img, .album-img-container {
        height: 100px;
        width: 100px;
    }

    .hidden-cell div {
        display: flex;
        flex-direction: column;
    }
    .dropdown {
        display: block;
        position: relative;
    }
    .dropdown > svg {
        font-size: 2.25rem;
    }
    .Dropdown-menu {
        position: absolute;
        display: flex;
        flex-direction: column;
        left: 0px;
        top: calc(100% + .25rem);
        background-color: gray;
        padding: .75rem;
        border-radius: .25rem;
        box-shadow: 0 2px 5px 0 rgb(0, 0, 0, .3);
        opacity: 1;
    }
    .Dropdown-menu > button {
        text-align: start;
        color: white;
    }
}